<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidCRUD"
        tools:targetApi="31">
        <activity
            android:name=".CityItem"
            android:exported="false"
            android:label="@string/title_activity_city_item"
            android:theme="@style/Theme.AndroidCRUD" />
        <activity
            android:name=".countries.CountryCreate"
            android:exported="false"
            android:label="@string/title_activity_country_create"
            android:theme="@style/Theme.AndroidCRUD" />
        <activity
            android:name=".countries.CountryUpdate"
            android:exported="false"
            android:label="@string/title_activity_country_update"
            android:theme="@style/Theme.AndroidCRUD" />
        <activity
            android:name=".TouristPointCRUD"
            android:exported="false"
            android:label="@string/title_activity_tourist_point_crud"
            android:theme="@style/Theme.AndroidCRUD" />
        <activity
            android:name=".cities.CityCRUD"
            android:exported="false"
            android:label="@string/title_activity_city_crud"
            android:theme="@style/Theme.AndroidCRUD" />
        <activity
            android:name=".countries.CountryRead"
            android:exported="false"
            android:label="@string/title_activity_country_read"
            android:theme="@style/Theme.AndroidCRUD" />
        <activity
            android:name=".HomeScreen"
            android:exported="false"
            android:label="@string/title_activity_home_screen"
            android:theme="@style/Theme.AndroidCRUD" />
        <activity
            android:name=".CountryItem"
            android:exported="false"
            android:label="@string/title_activity_country_item"
            android:theme="@style/Theme.AndroidCRUD" />
        <activity
            android:name=".countries.CountryCRUD"
            android:exported="false"
            android:label="@string/title_activity_country_crud"
            android:theme="@style/Theme.AndroidCRUD" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidCRUD">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>